@model IEnumerable<ADM.Models.DocumentosCCViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Cuentas por Cobrar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- Tabla Paginar  -->
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="w-full">
    </div>
    <!-- Inicio Formulario de Filtros -->
    <form id="filterForm">
        <div class="bg-gray-800 text-white p-5 rounded-lg shadow-lg">
            <h2 class="text-lg font-bold mb-4">Filtros de Búsqueda</h2>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
                <!-- Fecha Inicio -->
                <div class="sm:col-span-1">
                    <label for="entry_date" class="block text-sm font-medium leading-6 text-white">Fecha Inicio</label>
                    <div class="mt-2">
                        <input type="date" id="entry_date" name="entry_date" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <!-- Fecha Final -->
                <div class="sm:col-span-1">
                    <label for="expiry_date" class="block text-sm font-medium leading-6 text-white">Fecha Final</label>
                    <div class="mt-2">
                        <input type="date" id="expiry_date" name="expiry_date" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <!-- Nombre de Cliente -->
                <div class="sm:col-span-1">
                    <label for="name" class="block text-sm font-medium leading-6 text-white">Cliente</label>
                    <div class="mt-2">
                        <input type="text" id="name" name="name" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <!-- Nombre del Vendedor -->
                <div class="sm:col-span-1">
                    <label for="vendedor" class="block text-sm font-medium leading-6 text-white">Vendedor</label>
                    <div class="mt-2">
                        <input type="text" id="vendedor" name="vendedor" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <!-- Número de Documento -->
                <div class="sm:col-span-1">
                    <label for="document_id" class="block text-sm font-medium leading-6 text-white">Número de Documento</label>
                    <div class="mt-2">
                        <input type="text" id="document_id" name="document_id" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Final de Formulario -->

    <div class="w-full mt-8 bg-gray-800 p-6 rounded-lg shadow-lg">
        <div class="flex justify-between items-center bg-gray-800 text-white p-4 rounded-t-lg">
            <h3 class="text-xl font-semibold"><i class="fas fa-list mr-3"></i> Listado de Cuentas por Cobrar</h3>
            <div>
                <button id="exportButton" class="bg-green-500 text-white px-4 py-2 mr-4 rounded hover:bg-green-600">Exportar a Excel</button>
            </div>
        </div>

        <!-- Tabla -->
        <div class="overflow-auto mt-4">
            <table id="tablaDocumentos" class="min-w-full bg-gray-800 text-white">
                <thead class="bg-gray-900">
                    <tr>
                        <th class="py-3 px-4 text-center">Número Factura</th>
                        <th class="py-3 px-4 text-center">Cliente</th>
                        <th class="py-3 px-4 text-center">Vendedor</th>
                        <th class="py-3 px-4 text-center">Fecha Documento</th>
                        <th class="py-3 px-4 text-center">Observaciones Fecha a Vencer</th>
                        <th class="py-3 px-4 text-center">Total</th>
                        <th class="py-3 px-4 text-center">Saldo Pendiente</th>
                    </tr>
                </thead>
                <tbody id="bodyTablaDocumentos" class="text-center">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var documento in Model)
                        {
                            <tr class="even:bg-gray-700 hover:bg-gray-600">
                                <td class="py-3 px-4 border-b border-gray-700">@documento.PK_Documento_CC</td>
                                <td class="py-3 px-4 border-b border-gray-700">@documento.Nombre_Cliente</td>
                                <td class="py-3 px-4 border-b border-gray-700">@documento.Nombre_Vendedor</td>
                                <td class="py-3 px-4 border-b border-gray-700">@documento.Fecha_Documento.ToString("d")</td>
                                <td class="py-3 px-4 border-b border-gray-700">@documento.Fecha_Vencimiento.ToString("d")</td>
                                <td class="py-3 px-4 border-b border-gray-700">@documento.Total_XC</td>
                                <td class="py-3 px-4 border-b border-gray-700">@documento.Saldo_Pendiente</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center">No hay datos disponibles.</td>
                        </tr>
                    }
                </tbody>             
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script>

        
        // Función para filtrar la tabla según el formulario
        function filtrarTabla() {
            // Obtener los valores del formulario
            var fechaInicio = document.getElementById('entry_date').value;
            var fechaFinal = document.getElementById('expiry_date').value;
            var nombreCliente = document.getElementById('name').value.toLowerCase();
            var documentoID = document.getElementById('document_id').value.toLowerCase();
            var nombreVendedor = document.getElementById('vendedor').value.toLowerCase();

            // Obtener todas las filas de la tabla
            var filas = document.querySelectorAll('#bodyTablaDocumentos tr');

            filas.forEach(fila => {
                var celdas = fila.querySelectorAll('td');
                var fechaDocumento = celdas[3].textContent.trim(); // Fecha Documento en la cuarta columna
                var cliente = celdas[1].textContent.trim().toLowerCase(); // Nombre Cliente en la segunda columna
                var idDocumento = celdas[0].textContent.trim().toLowerCase(); // Número Documento en la primera columna
                var vendedor = celdas[2].textContent.trim().toLowerCase(); // Nombre Vendedor en la tercera columna

                // Convertir las fechas a objetos Date para comparación
                var fechaDoc = new Date(fechaDocumento);
                var fechaInicioObj = fechaInicio ? new Date(fechaInicio) : null;
                var fechaFinalObj = fechaFinal ? new Date(fechaFinal) : null;

                var mostrarFila = true;

                // Filtrar por fecha
                if (fechaInicioObj && fechaDoc < fechaInicioObj) {
                    mostrarFila = false;
                }
                if (fechaFinalObj && fechaDoc > fechaFinalObj) {
                    mostrarFila = false;
                }

                // Filtrar por nombre de cliente, número de documento y nombre del vendedor
                if (nombreCliente && !cliente.includes(nombreCliente)) {
                    mostrarFila = false;
                }
                if (documentoID && !idDocumento.includes(documentoID)) {
                    mostrarFila = false;
                }
                if (nombreVendedor && !vendedor.includes(nombreVendedor)) {
                    mostrarFila = false;
                }

                // Mostrar u ocultar la fila según el filtro
                fila.style.display = mostrarFila ? '' : 'none';
            });
        }

        document.getElementById('filterForm').addEventListener('input', filtrarTabla);

        // // Inicializar DataTable
        // $(document).ready(function () {
        //     $('#tablaDocumentos').DataTable({
        //         "paging": true,
        //         "searching": false,
        //         "info": false,
        //         "ordering": false,
        //         "language": {
        //             "lengthMenu": "Mostrar _MENU_ registros por página",
        //             "zeroRecords": "No se encontraron resultados",
        //             "info": "Mostrando página _PAGE_ de _PAGES_",
        //             "infoEmpty": "No hay registros disponibles",
        //             "infoFiltered": "(filtrado de _MAX_ registros en total)"
        //         }
        //     });
        // });

        

        // Función para exportar a Excel
        document.getElementById('exportButton').addEventListener('click', function () {
            var wb = XLSX.utils.book_new();
            var ws = XLSX.utils.table_to_sheet(document.getElementById('tablaDocumentos'));
            XLSX.utils.book_append_sheet(wb, ws, 'Cuentas por Cobrar');
            XLSX.writeFile(wb, 'CuentasPorCobrar.xlsx');
        });



        document.addEventListener("DOMContentLoaded", function () {
            const fechaActual = new Date();
            const celdasFechaVence = document.querySelectorAll('.fecha-vencimiento');

            celdasFechaVence.forEach(celda => {
                const fechaVence = new Date(celda.textContent.trim());
                const diffTime = fechaVence - fechaActual;
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

                if (diffDays < 0) {
                    celda.style.color = 'red';
                } else if (diffDays < 7) {
                    celda.style.color = 'yellow';
                } else if (diffDays > 15) {
                    celda.style.color = 'green';
                }
            });
        });
    </script>
</body>
</html>
