@using ADM.Models
@model AbonoCXC

@{
    var abonos = ViewData["Abonos"] as List<AbonoCXC>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Detalles de AbonosCC</title>
    <link href="~/css/custom.css" rel="stylesheet" />
</head>
<body>
    <form>
        <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-white">Detalle de Saldo de Documento</h2>
            <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">



                <div class="sm:col-span-2 sm:col-start-1">
                    <label for="email" class="block text-sm font-medium leading-6 text-white">Cliente</label>
                    <div class="mt-2">
                        <input type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;" disabled value="America America">
                    </div>
                </div>

                <div class="sm:col-span-2 ">
                    <label for="city" class="block text-sm font-medium leading-6 text-white">Factura</label>
                    <div class="mt-2">
                        <input type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;" disabled value="000001">
                    </div>
                </div>

                <div class="sm:col-span-2">
                    <label for="region" class="block text-sm font-medium leading-6 text-white">Fecha Factura</label>
                    <div class="mt-2">
                        <input type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;" disabled value="10/02/2024">
                    </div>
                </div>
                <!-- Fin de Datos-->
            </div>
        </div>
    </form>
    <div class="w-full">
        <div class="flex justify-between items-center bg-gray-800 text-white p-4 rounded-t-lg">
            <h3 class="text-xl font-semibold"><i class="fas fa-list mr-3"></i> Detalles de AbonosCC</h3>
        </div>

        <div class="bg-white rounded-b-lg shadow-lg overflow-hidden">
            <table class="min-w-full leading-normal">
                <thead>
                    <tr class="bg-gray-800 text-white">
                        <th class="text-center py-3">Abono</th>
                        <th class="text-center py-3">Documento</th>
                        <th class="text-center py-3">Cliente</th>
                        <th class="text-center py-3">Tipo Pago</th>
                        <th class="text-center py-3">Total Deuda</th>
                        <th class="text-center py-3">Saldo Pendiente</th>
                        <th class="text-center py-3">Monto Abonado</th>
                    </tr>
                </thead>
                <tbody id="bodyTablaAbonos" class="text-gray-700">
                    @if (abonos != null)
                    {
                        foreach (var abono in abonos)
                        {
                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td class="py-3 text-center">@Html.DisplayFor(modelItem => abono.Numero_Abono)</td>
                                <td class="py-3 text-center">@Html.DisplayFor(modelItem => abono.FK_Documento_CC)</td>
                                <td class="py-3 text-center">@Html.DisplayFor(modelItem => abono.FK_Cliente)</td>
                                <td class="py-3 text-center">@Html.DisplayFor(modelItem => abono.Tipo_Pago)</td>
                                <td class="py-3 text-center">@Html.DisplayFor(modelItem => abono.Monto_Total)</td>
                                <td class="py-3 text-center">@Html.DisplayFor(modelItem => abono.Saldo_Pendiente)</td>
                                <td class="py-3 text-center">@Html.DisplayFor(modelItem => abono.Monto_Abonado)</td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center">No hay abonos disponibles.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>