@using ADM.Models
@model CXC

@{
    var cxcs = ViewData["CXC"] as List<CXC>;
    var clientes = ViewData["Clientes"] as List<Cliente>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de Proveedores</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- Tabla Paginar  -->
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>

    <div class="w-full">
    </div>
    <!--                  Inicio Form                        -->
    <form id="filterForm">
        <div class="bg-gray-800 text-white p-5 rounded-lg shadow-lg">
            <h2 class="text-lg font-bold mb-4">Información Cuentas Por Cobrar</h2>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
                <!-- Fecha Inicio -->
                <div class="sm:col-span-1">
                    <label for="entry_date" class="block text-sm font-medium leading-6 text-white">Fecha Inicio</label>
                    <div class="mt-2">
                        <input type="date" id="entry_date" name="entry_date" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                    </div>
                </div>
                <!-- Fecha Final -->
                <div class="sm:col-span-1">
                    <label for="expiry_date" class="block text-sm font-medium leading-6 text-white">Fecha Final</label>
                    <div class="mt-2">
                        <input type="date" id="expiry_date" name="expiry_date" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                    </div>
                </div>
             
                <!-- Proveedor -->
                <!-- Proveedor -->
                <div class="sm:col-span-1">
                    <label for="FK_Cliente" class="block text-sm font-medium text-white">Cliente</label>
                    <div class="mt-2">
                        <select id="FK_Cliente" name="FK_Cliente" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px; height: 38px;">
                            <option value="">Seleccione un cliente</option>
                            @if (clientes != null)
                            {
                                @foreach (var cliente in clientes)
                                {
                                    <option value="@cliente.PK_Cliente">@cliente.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <!-- Número de Documento -->
                <div class="sm:col-span-1">
                    <label for="document_number" class="block text-sm font-medium leading-6 text-white">Número de Documento</label>
                    <div class="mt-2">
                        <input type="text" id="document_number" name="document_number" class="block w-full rounded-md bg-gray-700 border-0 py-1.5 text-white focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                    </div>
                </div>
            </div>
        </div>
        </>
    </form>

    <br>
    <br>

    <!--                  Final Form                        -->
    <!--                  Inicio de Tabla                        -->

    <div class="w-full mt-8 bg-gray-800 p-6 rounded-lg shadow-lg" >
        <div class="flex justify-between items-center bg-gray-800 text-white p-4 rounded-t-lg">
            <h3 class="text-xl font-semibold"><i class="fas fa-list mr-3"></i> Listado de Cuentas por Cobrar</h3>
        </div>

        <div class="overflow-auto mt-4">
            <table id="tablaCXC" class="min-w-full bg-gray-800 text-white">
                <thead class="bg-gray-900">
                    <tr>
                        <th class="py-3 px-4 text-center">Documento</th>
                        <th class="py-3 px-4 text-center">Cliente</th>
                        <th class="py-3 px-4 text-center">Fecha Emisión</th>
                        <th class="py-3 px-4 text-center">Fecha Vence</th>
                        <th class="py-3 px-4 text-center">Total</th>
                        <th class="py-3 px-4 text-center">Saldo</th>
                        <th class="py-3 px-4 text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody id="bodyTablaCXC" class="text-center">
                    @if (cxcs != null)
                    {
                        @foreach (var cxc in cxcs)
                        {
                            <tr class="even:bg-gray-700 hover:bg-gray-600">
                                <td class="py-3 px-4 border-b border-gray-700">@Html.DisplayFor(modelItem => cxc.PK_Documento_CC)</td>
                                <td class="py-3 px-4 border-b border-gray-700">@Html.DisplayFor(modelItem => cxc.NombreCliente)</td>
                                <td class="py-3 px-4 border-b border-gray-700">@Html.Raw(cxc.Fecha_Documento.ToString("dd/MM/yyyy"))</td>
                                <td class="py-3 px-4 border-b border-gray-700 fecha-vencimiento">@Html.Raw(cxc.Fecha_Vencimiento.ToString("yyyy-MM-dd"))</td>
                                <td class="py-3 px-4 border-b border-gray-700">@Html.DisplayFor(modelItem => cxc.Total_XC)</td>
                                <td class="py-3 px-4 border-b border-gray-700">@Html.DisplayFor(modelItem => cxc.Saldo_Pendiente)</td>
                                <td>
                                    <div class="py-3 px-4 border-b border-gray-700 flex justify-center space-x-2">
                                        <a onclick="cargarAbono('@cxc.PK_Documento_CC')" class="btn btnCrear" title="Crear Abono">
                                            <svg class="svg-inline--fa fa-times fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" /></svg>
                                        </a>
                                        <a asp-action="Detalles" asp-route-PK="@cxc.PK_Documento_CC" class="btn VerDetalles" title="Detalles">
                                            <svg class="svg-inline--fa fa-eye fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-70.7 0-128-57.31-128-128s57.31-128 128-128 128 57.31 128 128-57.3 128-128 128zm0-216a88 88 0 1 0 88 88 88 88 0 0 0-88-88z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="14">No hay datos disponibles.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!--                  Final Tabla                        -->
        <!--Reducción de codigo realizando vista parcial
        Ajuste 22/7/24 por Joseth Araya -->
        <div id="modalCrearAbono" class="modal">
            <div class="modal-content">
                <div id="AbonoContainer">
                    <div id="CrearAbono"></div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function filtrarTabla() {
                const fechaInicio = document.getElementById('entry_date').value;
                const fechaFinal = document.getElementById('expiry_date').value;
                const cliente = document.getElementById('FK_Cliente').value;
                const numeroDocumento = document.getElementById('document_number').value.toLowerCase();

                const filas = document.querySelectorAll('#bodyTablaCXC tr');

                filas.forEach(fila => {
                    const cells = fila.getElementsByTagName('td');

                    const fechaDocumento = cells[2].textContent.trim();
                    const fechaVence = cells[3].textContent.trim();
                    const clienteNombre = cells[1].textContent.trim();
                    const documento = cells[0].textContent.toLowerCase();

                    // Filtramos basado en los valores del formulario
                    const matchFechaInicio = fechaInicio === '' || new Date(fechaDocumento) >= new Date(fechaInicio);
                    const matchFechaFinal = fechaFinal === '' || new Date(fechaVence) <= new Date(fechaFinal);
                    const matchCliente = cliente === '' || clienteNombre === cliente;
                    const matchNumeroDocumento = numeroDocumento === '' || documento.includes(numeroDocumento);

                    if (matchFechaInicio && matchFechaFinal && matchCliente && matchNumeroDocumento) {
                        fila.style.display = '';
                    } else {
                        fila.style.display = 'none';
                    }
                });
            }

            // Agregar eventos al formulario para filtrar en tiempo real
            document.getElementById('filterForm').addEventListener('input', filtrarTabla);


            function actualizarComboBoxClientes() {
                const clientesComboBox = document.getElementById('FK_Cliente');
                const filas = document.querySelectorAll('#bodyTablaCXC tr');

                // Crear un conjunto para evitar duplicados
                const clientes = new Set();

                filas.forEach(fila => {
                    const cells = fila.getElementsByTagName('td');
                    const clienteNombre = cells[1].textContent.trim();
                    if (clienteNombre) {
                        clientes.add(clienteNombre);
                    }
                });

                // Limpiar opciones existentes
                clientesComboBox.innerHTML = '<option value="">Seleccione un cliente</option>';

                // Agregar opciones nuevas
                clientes.forEach(cliente => {
                    const option = document.createElement('option');
                    option.value = cliente; // Asegúrate de que el valor coincida con el valor en la tabla
                    option.textContent = cliente;
                    clientesComboBox.appendChild(option);
                });
            }

            // Llamar a la función para actualizar el combo box al cargar la página
            document.addEventListener('DOMContentLoaded', actualizarComboBoxClientes);


            /*Metodo para cargar la vista parcial
                Ajuste 22 / 7 / 24 por Joseth Araya*/
            function cargarAbono(pk) {
                $.ajax({
                    url: '@Url.Action("Abono", "CXC")',
                    type: 'GET',
                    data: { PK: pk },
                    success: function (data) {
                        $('#CrearAbono').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al cargar la vista parcial Abono:', error);
                    }
                });
                abrirModal('modalCrearAbono');
            }

            // //Funcion para paginar en index
            //      $(document).ready(function () {
            //          $('#tablaCXC').DataTable({
            //              "paging": true,
            //              "pagingType": "simple_numbers",
            //              "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            //              "searching": false,
            //              "language": {
            //                  "lengthMenu": " Mostrar _MENU_ registros por página",
            //                  "zeroRecords": "No se encontraron resultados",
            //                  "info": " Mostrando página _PAGE_ de _PAGES_",
            //                  "infoEmpty": "No hay registros disponibles",
            //                  "infoFiltered": "(filtrado de _MAX_ registros totales)",
            //                  "paginate": {
            //                      "first": "Primero",
            //                      "last": "Último",
            //                      "next": "Siguiente",
            //                      "previous": "Anterior"
            //                  }
            //              }
            //          });
            //      });


            document.addEventListener("DOMContentLoaded", function () {
                const fechaActual = new Date();
                const celdasFechaVence = document.querySelectorAll('.fecha-vencimiento');

                celdasFechaVence.forEach(celda => {
                    const fechaVence = new Date(celda.textContent.trim());
                    const diffTime = fechaVence - fechaActual;
                    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

                    if (diffDays < 0) {
                        celda.style.color = 'red';
                    } else if (diffDays < 7) {
                        celda.style.color = 'yellow';
                    } else if (diffDays > 15) {
                        celda.style.color = 'green';
                    }
                });
            });
        </script>
</body>
</html>