@model IEnumerable<IngresoMercaderiaViewModel>
<link href="~/css/custom.css" rel="stylesheet" />

<div class="w-full">
</div>

<form>
    <div class="bg-gray-800 text-white p-5 rounded-lg shadow-lg">
        <h2 class="text-lg font-bold mb-4">Filtros de Búsqueda</h2>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">

            <div class="sm:col-span-1">
                <label for="entry_date" class="block text-sm font-medium">Fecha Inicio</label>
                <div class="mt-2">
                    <input type="date" id="entry_date" name="entry_date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="expiry_date" class="block text-sm font-medium">Fecha Final</label>
                <div class="mt-2">
                    <input type="date" id="expiry_date" name="expiry_date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="provider" class="block text-sm font-medium">Proveedor</label>
                <div class="mt-2">
                    <select id="provider" name="provider" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px; height: 38px;">
                        <option value="">Seleccionar Proveedor</option>
                        <!-- LECTURA DE LA BD O OPCIONES ESTÁTICAS -->
                        <option value="Proveedor A">Proveedor A</option>
                        <option value="Proveedor B">Proveedor B</option>
                        <option value="Proveedor C">Proveedor C</option>

                    </select>
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="document_number" class="block text-sm font-medium">Número de Documento</label>
                <div class="mt-2">
                    <input type="text" id="document_number" name="document_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 17px;">
                </div>
            </div>

        </div>
    </div>
</form>

<div class="w-full mt-8">
    <div class="flex justify-between items-center bg-gray-800 text-white p-4 rounded-t-lg">
        <h3 class="text-xl font-semibold"><i class="fas fa-list mr-3"></i> Listado de Ingresos</h3>
        <div>
            <a asp-action="AgregarInventario" class="btn bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Crear Ingreso de Mercadería</a>
        </div>
    </div>

    <!--                  Tabla                        -->
    <div class="bg-white rounded-b-lg shadow-lg overflow-hidden">
        <table class="min-w-full leading-normal">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="text-center py-3">Documento</th>
                    <th class="text-center py-3">Proveedor</th>
                    <th class="text-center py-3">Fecha Emisión</th>
                    <th class="text-center py-3">Condición de Pago</th>
                    <th class="text-center py-3">Total</th>
                    <th class="text-center py-3">Estado</th>
                    <th class="text-center py-3">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 text-center">@Html.DisplayFor(modelItem => item.PK_FK_Documento)</td>
                            <td class="py-3 text-center">@Html.DisplayFor(modelItem => item.PK_FK_Proveedor)</td>
                            <td class="py-3 text-center">@Html.DisplayFor(modelItem => item.Fecha_Compra)</td>
                            <td class="py-3 text-center">@Html.DisplayFor(modelItem => item.FK_CondicionPago)</td>
                            <td class="py-3 text-center">@Html.DisplayFor(modelItem => item.Total)</td>
                            <td class="py-3 text-center">@Html.DisplayFor(modelItem => item.Estado)</td>

                            @* <td class="p-3 border border-gray-300"> *@
                            <td>
                                <div class="flex justify-center space-x-2">
                                    <a asp-action="ActualizarCliente" asp-route-PK="@item.PK_FK_Documento" class="text-blue-600 hover:text-blue-900" title="Editar">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <form method="post" asp-action="DesactivarCliente" asp-route-PK="@item.PK_FK_Documento" onsubmit="return confirm('¿Está seguro que desea desactivar este cliente?');">
                                        <button type="submit" class="text-red-600 hover:text-red-900 bg-transparent border-none p-0" title="Desactivar">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="14">No hay datos disponibles.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
