@using ADM.Models
@model IEnumerable<Transporte>
<link href="~/css/custom.css" rel="stylesheet" />

<div class="w-full">
</div>

<!--                  Formulario                        -->
<form>
    <div class="bg-gray-800 text-white p-5 rounded-lg shadow-lg">
        <h2 class="text-lg font-bold mb-4">Filtro de Transportes</h2>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
            <div class="sm:col-span-1">
                <label for="city" class="block text-sm font-medium">Nombre de Transporte</label>
                <div class="mt-1">
                    <input type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
                </div>
            </div>
        </div>
    </div>
</form>

<div class="w-full mt-8">
    <div class="flex justify-between items-center bg-gray-800 text-white p-4 rounded-t-lg">
        <h3 class="text-xl font-semibold"><i class="fas fa-list mr-3"></i> Listado de Transportes</h3>
        <div>
            <a asp-action="CrearTransporte" class="btn bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Crear Transporte</a>
       </div>
    </div>


    <!--                  Tabla                        -->
    <div class="bg-white rounded-b-lg shadow-lg overflow-hidden">
        <table class="min-w-full leading-normal">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="py-3 text-center">Código Transporte</th>
                    <th class="py-3 text-center">Descripcion Transporte</th>
                    <th class="py-3 text-center">Estado Transporte</th>
                    <th class="py-3 text-center">Acciones</th>

                </tr>
            </thead>
            <tbody class="text-gray-700">
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 text-center">@Html.DisplayFor(modelItem => item.PK_Medio_Transporte)</td>
                            <td class="py-3 text-center">@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td class="py-3 text-center">
                                @if (item.Estado)
                                {
                                    <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Activo</span>
                                }
                                else
                                {
                                    <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">Inactivo</span>
                                }
                            </td>
                            @* <td class="p-3 border border-gray-300"> *@
                            <td>                            
                                <div class="flex justify-center space-x-2">
                                    <div class="flex justify-center space-x-2">
                                        <a asp-action="ActualizarTransporte" asp-route-PK="@item.PK_Medio_Transporte" class="text-blue-600 hover:text-blue-900" title="Editar">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <form method="post" asp-action="DesactivarTransporte" asp-route-PK="@item.PK_Medio_Transporte" onsubmit="return confirm('¿Está seguro que desea desactivar este cliente?');">
                                            <button type="submit" class="text-red-600 hover:text-red-900 bg-transparent border-none p-0" title="Desactivar">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                @* <button asp-action="DesactivarCliente" asp-route-PK="@item.PK_Cliente" class="btn btnEliminar" title="Desactivar">
                        <svg class="svg-inline--fa fa-times fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                        </svg>
                        </button> *@
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="14">No hay datos disponibles.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


