@model IEnumerable<ArticuloViewModel>
<link href="~/css/custom.css" rel="stylesheet" />

<div class="w-full">
</div>

<!--                  Formulario                        -->
<form>
	<div class="bg-gray-800 text-white p-5 rounded-lg shadow-lg">
		<h2 class="text-lg font-bold mb-4">Filtro de Articulos</h2>
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
			<div class="sm:col-span-1">
				<label for="city" class="block text-sm font-medium">Nombre de Articulo</label>
				<div class="mt-1">
					<input type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="padding-left: 10px;">
				</div>
			</div>
		</div>
	</div>
</form>

<!--Final de From-->
<div class="w-full mt-8">
	<div class="flex justify-between items-center bg-gray-800 text-white p-4 rounded-t-lg">
		<h3 class="text-xl font-semibold"><i class="fas fa-list mr-3"></i> Listado de Articulos</h3>
		<div>
			<a asp-action="CrearArticulo" class="btn bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Crear Artículo</a>
		</div>
	</div>


	<!--                  Tabla                        -->
	<div class="bg-white rounded-b-lg shadow-lg overflow-hidden">
		<table class="min-w-full leading-normal">
			<thead>
				<tr class="bg-gray-800 text-white">
					<th class="py-3 text-center">Código de Artículo</th>
					<th class="py-3 text-center">Descripción de Artículo</th>
					<th class="py-3 text-center">Código de Barras</th>
					<th class="py-3 text-center">Proveedor</th>
					<th class="py-3 text-center">Cantidad</th>
					<th class="py-3 text-center">Costo</th>
					<th class="py-3 text-center">Precio Unitario</th>
					<th class="py-3 text-center">Estado</th>
					<th class="py-3 text-center">Acciones</th>
				</tr>
			</thead>
			<tbody class="text-gray-700">
				@if (Model != null && Model.Any())
				{
					@foreach (var item in Model)
					{
						<tr class="border-b border-gray-200 hover:bg-gray-100">
							<td class="py-3 text-center">@Html.DisplayFor(modelItem => item.PK_Articulo)</td>
							<td class="py-3 text-center">@Html.DisplayFor(modelItem => item.Descripcion)</td>
							<td class="py-3 text-center">@Html.DisplayFor(modelItem => item.Codigo_Barras)</td>
							<td class="py-3 text-center">@Html.DisplayFor(modelItem => item.FK_Proveedor)</td>
							<td class="py-3 text-center">@Html.DisplayFor(modelItem => item.Cantidad)</td>
							<td class="py-3 text-center">@Html.DisplayFor(modelItem => item.Costo)</td>
							<td class="py-3 text-center">@Html.DisplayFor(modelItem => item.Precio)</td>
							<td class="py-3 text-center">
								@if (item.Estado)
								{
									<span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Activo</span>
								}
								else
								{
									<span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">Inactivo</span>
								}
							</td>
							<td>
								<div class="flex justify-center space-x-2">
									<a asp-action="ActualizarArticulo" asp-route-PK="@item.PK_Articulo" class="text-blue-600 hover:text-blue-900" title="Editar">
										<i class="fas fa-edit"></i>
									</a>
									<form method="post" asp-action="DesactivarArticulo" asp-route-PK="@item.PK_Articulo" onsubmit="return confirm('¿Está seguro que desea desactivar este cliente?');">
										<button type="submit" class="text-red-600 hover:text-red-900 bg-transparent border-none p-0" title="Desactivar">
											<i class="fas fa-trash"></i>
										</button>
									</form>
								</div>
							</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="14">No hay datos disponibles.</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<!--                  Final Tabla                        -->

